.m-request{
  &-top{
    body{
      background: #fff;
    }
    main#page-body {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      position: relative;
    }
    header {
      display: none;
    }
    .se-close {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 1;
      background: #fff;
      padding: 2px 7px;
      border-radius: 50%;
      a {
        display: block;
        background-image: url(/image/icon/close.sp.480.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 9px 4px;
        background-size: 10px;
      }
    }
  }
  &-complete{
    body{
      background: #fff;
    }
    main#page-body {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      position: relative;
    }
    header {
      display: none;
    }
    .content-body {
      padding-bottom: 210px;
    }
  }
}
