@media screen and (max-width: 320px) {
  .js-horoscope .rotate {
    height: 90%;
    bottom: 0;
    background-size: 250px;
  }
  .js-horoscope {
    height: 300px;
  }
  .js-horoscope .rotate .targetCusp {
    width: 196px;
    height: 199px;
    bottom: 9.45%;
  }
  .js-horoscope .rotate .targetAngles .planet1, .js-horoscope .rotate .targetAngles [class^="planet"].natal, .js-horoscope .rotate .targetAngles [class^="planet"].natal.transit {
    width: 45px;
    height: 45px;
  }
  .js-horoscope .rotate .targetAngles .planet2.transit {
    width: 95px;
    height: 95px;
  }
  .js-horoscope .rotate .targetAngles .planet3.transit {
    width: 100px;
    height: 100px;
  }
  .js-horoscope .rotate .targetAngles .planet4.transit {
    width: 105px;
    height: 105px;
  }
  .js-horoscope .rotate .targetAngles .planet5.transit {
    width: 110px;
    height: 110px;
  }
  .js-horoscope .rotate .targetAngles .planet6.transit {
    width: 115px;
    height: 115px;
  }
  .js-horoscope .rotate .targetAngles .planet7.transit {
    width: 120px;
    height: 120px;
  }
  .js-horoscope .rotate .targetAngles .planet8.transit {
    width: 125px;
    height: 125px;
    bottom: 24.9%;
  }
  .js-horoscope .rotate .targetAngles .planet9.transit {
    width: 130px;
    height: 130px;
  }
  .js-horoscope .rotate .asc, .js-horoscope .rotate .dsc, .js-horoscope .rotate .ic, .js-horoscope .rotate .mc {
    position: absolute;
    transition: 2s;
    margin: auto;
    width: 238px;
    height: 235px;
    bottom: 2.5%;
    left: 0%;
    right: 0;
    text-align: left;
  }
  .js-horoscope .rotate .targetAngles {
    max-width: 250px;
    height: 250px;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .dsc.aspect > .blink, .asc.aspect > .blink, .mc.aspect > .blink, .ic.aspect > .blink {
    top: 103px;
  }

  .js-horoscope .rotate .asc.aspect::after, .js-horoscope .rotate .dsc.aspect::after, .js-horoscope .rotate .ic.aspect::after, .js-horoscope .rotate .mc.aspect::after {
    margin-left: 32%;
    margin-top: -25%;
    height: 81px;
  }
  .js-horoscope .rotate .asc img:not(.aspect), .js-horoscope .rotate .dsc img:not(.aspect), .js-horoscope .rotate .ic img:not(.aspect), .js-horoscope .rotate .mc img:not(.aspect) {
    top: 93px;
  }

  .js-horoscope .rotate .targetAngles .planet1.aspect.natal::before {
      height: 59%;
  }
  .js-horoscope .rotate .asc.aspect img, .js-horoscope .rotate .dsc.aspect img, .js-horoscope .rotate .ic.aspect img, .js-horoscope .rotate .mc.aspect img {
      bottom: 4px;
  }
}
