//ƒzƒƒXƒR[ƒv‚Ìƒx[ƒX‚ÆƒJƒXƒv‚Ì•`ŽÊ
.js-horoscope {
  height: 320px;
  position: relative;

  .rotate{//ƒzƒƒXƒR[ƒv‚ð•`‰æ‚·‚é‘å˜g
    height: 100%;
    position: relative;
    bottom: 5%;
    background-image: url(/image/horo/base.sp.480.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center 100%;

    .targetCusp {//ƒJƒXƒv‚Ì˜g
      position: absolute;
      width: 233px;
      height: 236px;
      bottom: 10%;
      left: 0;
      right: 0;
      transition: 2s;
      z-index: 1;
      margin: auto;
      counter-increment: section;

      p {//ƒJƒXƒv‚Ì•`‰æ
          border: 1px solid #ccc;
          margin-top: 50%;
          width: 43.6%;
      }//.targetCusp p

      &::after {//ƒJƒXƒv‚Ì”Ô†
        content: counter(section);
        font-size: 12px;
        position: absolute;
        left: 33%;
        bottom: 43%;
        transform: rotate(75deg);
      }//.targetCusp::after

    }//.targetCusp

  }//.rotate

}//.js-horoscope

//Ši˜f¯‚Ì•`ŽÊ1
.js-horoscope {

  .rotate{//ƒzƒƒXƒR[ƒv‚ð•`‰æ‚·‚é‘å˜g

    .targetAngles{//˜f¯‚ð•`‰æ‚·‚é‘å˜g
      transform: rotate(-45deg);
      position: absolute;
      max-width: 300px;
      height: 300px;
      bottom: 0%;
      left: 0%;
      right: 0%;
      margin: auto;
      z-index:2;

      [class^="planet"] {//.rotate“à‚Ì"planet"‚Æ‚¢‚¤ƒNƒ‰ƒX–¼‚ðŠÜ‚Þ˜f¯•`ŽÊ‚Ìƒx[ƒX
        position: absolute;
        // width: 600px;
        // height: 600px;
        // bottom: -2.5%;
        // left: 18%;
        // right: 0;
        transition: 2s;
        margin: auto;

        img {//.planetü“à‚Ì˜f¯‚Ì‰æ‘œ
          position: absolute;
          top: -13px;
          left: -13px;
          width: 28px;
        }//[class^="planet"] img

        &.aspect {
          z-index:3;
          &::before{
            content: "";
            border-right: 3px solid #9e8fd5;
            width: 2px;
            box-shadow: 0px 0px 4px 1px #9e8fd5;
            display: block;
            transform: rotate(-45deg);
          }//[class^="planet"].aspect::before
        }//[class^="planet"].aspect

        &.transit.aspect {
          z-index:2;
        }//[class^="planet"].transit.aspect

      }//[class^="planet"]

    }//.targetAngles

  }//.rotate

}//.js-horoscope


//Ši˜f¯‚Ì•`ŽÊ2
.js-horoscope {

  .rotate{//ƒzƒƒXƒR[ƒv‚ð•`‰æ‚·‚é‘å˜g

    .targetAngles{//˜f¯‚ð•`‰æ‚·‚é‘å˜g

      .planet1,//1”Ô–Ú‚Ì˜f¯(ƒlƒCƒ^ƒ‹)‚Æ‚»‚êˆÈ~‚Ì‘¼‚ÌƒlƒCƒ^ƒ‹‚ÌˆÊ’u
      [class^="planet"].natal,
      [class^="planet"].natal.transit{
        width: 55px;
        height: 55px;
        bottom: 40.75%;
        left: 0%;
        right: 0;
      }//.targetAngles .planet1

      .planet{
        &2{
          &.transit {
            width: 110px;
            height: 110px;
            bottom: 31.45%;
            left: 0%;
            right: 0;
          }//.planet2.transit
        }//.targetAngles .planet2

        &3{
          &.transit {
            width: 115px;
            height: 115px;
            bottom: 30.9%;
            left: 0%;
            right: 0;
          }//.planet3.transit
        }//.targetAngles .planet3

        &4{
          &.transit {
            width: 120px;
            height: 120px;
            bottom: 29.7%;
            left: 0%;
            right: 0;
          }//.planet4.transit
        }//.targetAngles .planet4

        &5{
          &.transit {
            width: 125px;
            height: 125px;
            bottom: 29%;
            left: 0%;
            right: 0;
          }//.planet5.transit
        }//.targetAngles .planet5

        &6{
          &.transit {
            width: 130px;
            height: 130px;
            bottom: 27.8%;
            left: 0%;
            right: 0;
          }//.planet6.transit
        }//.targetAngles .planet6


        &7{
          &.transit {
            width: 140px;
            height: 140px;
            bottom: 26.45%;
            left: 0%;
            right: 0;
          }//.planet7.transit
        }//.targetAngles .planet7

        &8{
          &.transit {
            width: 145px;
            height: 145px;
            bottom: 25.7%;
            left: 0%;
            right: 0;
          }//.planet8.transit
        }//.targetAngles .planet8

        &9{
          &.transit {
            width: 150px;
            height: 150px;
            bottom: 24.8%;
            left: 0%;
            right: 0;
          }//.planet9.transit
        }//.targetAngles .planet9

      }//.targetAngles .planet1-9

    }//.targetAngles

  }//.rotate

}//.js-horoscope


//Ši˜f¯‚Ì•`ŽÊ3 ƒAƒXƒyƒNƒgŽž‚ÌƒGƒtƒFƒNƒg
.js-horoscope {

  .rotate{//ƒzƒƒXƒR[ƒv‚ð•`‰æ‚·‚é‘å˜g

    .targetAngles{//˜f¯‚ð•`‰æ‚·‚é‘å˜g

      .planet{

        &1.aspect.natal::before {
          margin-left: 27%;
          height: 58%;
        }//.targetAngles .planet1

        &2.aspect.transit::before {
          margin-left: 27.5%;
          height: 58%;
        }//.targetAngles .planet2

        &3.aspect.transit::before {
          margin-left: 28%;
          height: 58%;
        }//.targetAngles .planet3

        &4.aspect.transit::before {
          margin-left: 28%;
          height: 60%;
        }//.targetAngles .planet4

        &5.aspect.transit::before {
          margin-left: 28%;
          height: 58%;
        }//.targetAngles .planet5

        &6.aspect.transit::before {
          margin-left: 27.5%;
          height: 59%;
        }//.targetAngles .planet6

        &7.aspect.transit::before {
          margin-left: 28%;
          height: 58%
        }//.targetAngles .planet7

        &8.aspect.transit::before {
          margin-left: 28%;
          height: 58.5%;
        }//.targetAngles .planet8

        &9.aspect.transit::before {
          margin-left: 28%;
          height: 58.5%
        }//.targetAngles .planet9

      }//.targetAngles .planet1-9

    }//.targetAngles

  }//.rotate

}//.js-horoscope


//Ši˜f¯‚Ì•`ŽÊ4 asc/dsc/mc/ic‚Ì•`ŽÊ
.js-horoscope {

  .rotate{//ƒzƒƒXƒR[ƒv‚ð•`‰æ‚·‚é‘å˜g

    .asc,
    .dsc,
    .ic,
    .mc {
      position: absolute;
      transition: 2s;
      margin: auto;
      width: 288px;
      height: 285px;
      bottom: 2%;
      left: 0%;
      right: 0;
      text-align: left;
      z-index: 2;

      img:not(.aspect) {
        width: 50px;
        position: relative;
        top: 119px;
        margin-top:0;
      }//.asc/dsc/ic/mc img:not(.aspect)

      &.aspect {
        z-index: 2;

        img {
          margin-top: 45%;
          position: relative;
          left: 7px;
          bottom: 1px;
          width:30px;
        }//.aspect img

        &::after {
          content: "";
          border-right: 3px solid #9e8fd5;
          width: 2px;
          box-shadow: 0px 0px 4px 1px #9e8fd5;
          display: block;
          transform: rotate(90deg);
          margin-left: 31%;
          margin-top: -24%;
          height: 106px;
        }//.aspect::after
      }//.asc/dsc/ic/mc.aspect

    }//.rotate .asc/dsc/ic/mc



  }//.rotate

}//.js-horoscope


//ƒAƒXƒyƒNƒgŽž‚Ì”wŒiƒAƒjƒ[ƒVƒ‡ƒ“
.aspect > .blink{
  position: absolute;
  top: -14px;
  left: -14px;
  width: 30px;
  height: 30px;
  border-radius:50%;
  margin: 0 auto;
  box-shadow: 0px 0px 4px 2px #ff0;
  background: #ff0;
  animation: flash 3.5s infinite linear;
  -webkit-animation: flash 3.5s infinite linear;
  -moz-animation: flash 3.5s infinite linear;
}

.dsc.aspect >.blink,
.asc.aspect >.blink,
.mc.aspect >.blink,
.ic.aspect >.blink {
  position: absolute;
  top: 129px;
  left: 7px;
  width: 30px;
  height: 30px;
}

@keyframes flash {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}
@-webkit-keyframes flash {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
@-moz-keyframes flash {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
